.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App > div {
  padding: 40px 50px 40px 50px;
  margin: auto;
  min-width: 400px;
  min-height: 200px;
  display: flex;
  flex-flow: column wrap;
}

p {
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}

button {
  flex: 2;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: large;
}

input {
  flex: 1;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
}

label {
  flex: 1;
  /* border: 1px solid red; */
  padding: 10px;
}
