.App {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.App > div {
  padding: 40px 50px 40px 50px;
  margin: auto;
  min-width: 400px;
  min-height: 50px;
  text-align: center;
}

button {
  padding: 40px 50px 40px 50px;
  margin: auto;
  font-size: large;
  min-height: 50px;
  min-width: 200px;
  justify-self: center;
  border-radius: 50%;
}

input {
  margin-left: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

label {
  /* border: 1px solid red; */
  padding: 10px;
  margin: 10px;
  justify-self: center;
}
